body{
  font-family: 'Stint Ultra Condensed', cursive;
  margin: 0;
}

a{
  text-decoration: none;
}

/* -----------1st section  -------------------- */
.top-banner{
  padding: 50px 0px 0px 165px;
  height: 800px;
  
}

.top-div{
  display: flex;
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 40px;
  padding: 0;
  height: 700px;
  width: 1450px;
  padding: 30px 0px 0px 120px;
}
 
.half-width{
  width: 40%;
  padding: 0;
}
  
.white-text{
  color: whitesmoke;
}

h1{
  font-size: 80px;
  margin: 50px 0 0 0;
}

p{
  font-size: large;
  margin: 20px 100px 50px 0px;
}
 
.live-button{
  background-color: blue;
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  font-size: larger;
  transition: .1s;
}

.live-button:hover{
  background-color: red;
  border-radius: 10px;
  
}

.angle-icon{
  padding-left: 20px;
  transition: .3s;
}

.top-banner-img{
  width: 114%;
}

.img-div{
  padding-left: 90px;
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  
}

/* -----------mid section  -------------------- */

.mid-banner{
  padding: 50px 0px 0px 165px;
  height: auto;
}

.mid-div{
  display: flex;
  width: 1550px;
}

.left-div{
  display: grid;
  background-color: rgba(0, 0, 0, 0.918);
  padding: 20px;
  border-radius: 10px;
  height: 350px;
}

.mid-button{
  padding: 20px 30px;
  width: 250px;
  font-size: 25px;
  font-weight: 600;
  margin: 15px;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.selected-button{
  color: white;
  background-color: red;
}

.right-div{
  display: grid;
  width: 1300px;
  grid-template-columns: auto auto auto;
}

.blog-div{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 15px;
}

.blog-text-div{
padding-left: 20px;
padding-top: 30px;
}

.transfer-button{
  font-size: 20px;
  font-weight: 600;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 20px;
}

.transfer-text{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
  padding: 0;
}

.time-div{
  display: flex;
}

.view-all-div{
  display: none;
}



/* -----------footer section  -------------------- */

.footer-section{
  background-color: black;
  text-align: center;

}

.goal-div{
  text-align: center;
  padding: 50px;
}

.hr-div{
  padding-left: 200px;
  width: 1500px;
  
}

hr{
  height: 1px;background-color: rgba(255, 255, 255, 0.288);border: none;
}

.contact-div{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  padding-left: 400px;
  width: 1000px;
}

.contact-button{
  color: white;
  font-size: 20px;
}

.social-media{
  padding-bottom: 30px;
}

.media-button{
  font-size: 30px;
  padding: 10px;
  color: blue;
}





/* -----------index2 page  -------------------- */

.index2-blog-div{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 0px 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 15px;
  height: 250px;
  /* padding-top: 40px; */
  padding: 40px 20px;

}

.flag-div{
  display: flex
  ;
  justify-content: space-around;
  margin-top: 30px;
}

.VS-p{
  padding:20px 0px 0px 0px;
  margin: 0%;
  font-weight: 900;
}

.VS-text{
  text-align: center;
  padding: 0px ;
}

.match-name{
  font-size: 25px;
  font-weight: 900;
  margin:50px 0px 0px 0px;
}

.match-time{
  margin:30px 0px 0px 0px;
}

/* ----------------responsiveness----------------------------- */

@media screen and (max-width: 768px) {
  /* --------------------top section------------------- */
  .top-banner{
    padding: 2%;
    height: 500px;
  }
  .top-div{
    padding: 0%;
    width: 100%;
    height: 450px;
  }

  .half-width{
    width: 40%;
    padding: 10px 10px 10px 60px;
  }

  h1{
    width: 300px;
    font-size: 35px;
  }

  p{
    font-size: 15px;
    padding: 0%;
    margin: 10px 0px 40px 0px;
  }

  .img-div{
    padding: 77px 0px 0px 0px;
  }

  .top-banner-img{
    width: 120%;
  }
  
  /* -------------------mid section--------------- */
  .mid-banner{
    width: 100%;
    padding: 0% 2% 0% 2%;
    margin: 0;
    padding: 0;
  }
  .mid-div{
     display: flex;
     flex-direction: column;
     width: 100%;
  }

  .left-div{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 0%;
  }

  .mid-button{
    border: 1px solid rgba(0, 0, 0, 0.226);
    font-size: 20px;
  }

  .right-div{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    
  }

  .blog-div{
    margin: 10px 10px;
  }

  .fa-message{
    margin-left: 50px;
  }

  .hidden-class-tablet{
    display: none;
  }

  .view-all-div{
    display: block;
    text-align: center;
    padding: 40px 0px;
  }

  /* ----------------------footer------------------- */

  .footer-section{
   display: flex;
   flex-direction: column;
  }

  .goal-div{
    padding-left: 250px;
    text-align: center;
  }

  .hr-div{
    padding: 0% 10%;
    width: 80%;
  }

  .contact-div{
    width: 100%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 150px;
    width: 500px;
  }

  .contact-button{
    padding: 20px;
    font-size: 10px;
  }

  .social-media{
    padding: 20px;
  }


}